[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s).
disable=anomalous-backslash-in-string,
        duplicate-code,
        eval-used,
        import-error,
        line-too-long,
        missing-docstring,
        missing-timeout,
        no-name-in-module,
        raise-missing-from,
        redefined-outer-name,
        too-few-public-methods,
        too-many-arguments,
        too-many-instance-attributes,
        too-many-locals,
        too-many-nested-blocks,
        too-many-statements,
        unnecessary-dunder-call,
        unused-argument,
        unused-variable,
        unused-wildcard-import,
        useless-object-inheritance,
        wildcard-import,
        fixme,
        bare-except,
        broad-exception-caught,
        consider-using-f-string,
        f-string-without-interpolation,
        invalid-name,
        no-else-raise,
        no-else-return,
        pointless-string-statement,
        unnecessary-pass,
        unspecified-encoding,
        unused-import,
        use-dict-literal,
        useless-import-alias,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-implicit-booleaness-not-comparison-to-string,
        use-implicit-booleaness-not-comparison-to-zero,
        use-symbolic-message-instead,
        simplifiable-if-statement,
        inconsistent-return-statements,
        undefined-variable,
        undefined-variable,
        consider-using-with
